.body{
    position: absolute;

    display: grid;
    grid-template-areas: 'a b' 'a c';
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;

    background: #D9E6DF;
    mix-blend-mode: normal;
    
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.07), 0px 0px 5px rgba(0, 0, 0, 0.06), 0px 1px 2px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}
.head{
    grid-area: a;
    
    width: auto;
    height: auto;

    display: flex;
    align-items: center;
}
.head>svg{
    margin: 0.6em;

    width: 2.3em;
    height: 2.3em;
}
.top{
    grid-area: b;

    margin-bottom: -3.5em;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    line-height: 16px;

    display: flex;
    align-items: center;
    letter-spacing: 0.25em;
    text-transform: uppercase;

    color: #035A2A;
}
.bottom{
    grid-area: c;

    margin-top: 1em;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;

    color: #000000;
}
.bottom>p{
    padding-right: 0.3em;
    padding-left: 0.3em;

    line-height: 17px;

    color: #035a2a7b;
}
.bottom>strong{
    font-family: Roboto;
    font-weight: bold;
    font-size: 14px;
    line-height: 16.75px;
}